/* Estilo geral do container */
.container {

    margin: 50px auto;
    padding: 80px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 90px;
    width: 50%;
}



/* Estilo dos controles do formulário */
.form-control {
    margin-bottom: 15px;
}

/* Estilo dos labels */
.form-control label {

    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;

}

/* Estilo dos inputs */
.form-control input[type="text"] {
    width: 80%;
    margin: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo do botão de envio */
button[type="submit"] {
    width: 40%;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo do botão ao passar o mouse */
button[type="submit"]:hover {
    background-color: #45a049;
    color: white;
}